#page-container {
    height: 100vh;
    background-image: url('ying-yang.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#work-time-container {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'wtime wtime'
    'wup wdown'
    'wgo wpause';
    padding-bottom: 160px;
}
#play-time-container {
    display: grid;
    grid-gap: 2px;
    color: white;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'ptime ptime'
    'pup pdown'
    'pgo ppause';
}
.play-pause {
    height: 20px;
    width: 65px;
}
button {
    height: 20px;
}
#play-title {
    border-bottom: 2px solid white;
    color: white;
    margin-bottom: 15px;
}
#work-title {
    padding-top: 55px;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}
#work-time-up {
    grid-area: wup;
    font-size: 16px;
}
#work-time-down {
    grid-area: wdown;
    font-size: 16px;
}
#work-time-display {
    font-size: 30px;
    grid-area: wtime;
    text-align: center;
}
#work-time-start {
    grid-area: wgo;
}
#work-time-pause {
    grid-area: wpause;
}
#play-time-up {
    grid-area: pup;
    font-size: 16px;
}
#play-time-down {
    grid-area: pdown;
    font-size: 16px;
}
#play-time-display {
    font-size: 30px;
    grid-area: ptime;
    text-align: center;
}
#play-time-start {
    grid-area: pgo;
}
#play-time-pause {
    grid-area: ppause;
}

/* color:  #037BEE;
