#page-container {
    height: 100vh;
    background-image: url('ying-yang.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#work-time-container {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'wup wtime wtime wdown'
    '. wgo wpause .';
    padding-bottom: 200px;
}
#play-time-container {
    display: grid;
    grid-gap: 2px;
    color: white;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'pup ptime ptime pdown'
    '. pgo ppause .';
}
.play-pause {
    height: 20px;
    width: 65px;
}
#play-title {
    color: white;
}
#work-title {
    padding-top: 60px;
}
#work-time-up {
    grid-area: wup;
    font-size: 20px;
}
#work-time-down {
    grid-area: wdown;
    font-size: 20px;
}
#work-time-display {
    font-size: 30px;
    grid-area: wtime;
    text-align: center;
}
#work-time-start {
    grid-area: wgo;
}
#work-time-pause {
    grid-area: wpause;
}
#play-time-up {
    grid-area: pup;
    font-size: 20px;
}
#play-time-down {
    grid-area: pdown;
    font-size: 20px;
}
#play-time-display {
    font-size: 30px;
    grid-area: ptime;
    text-align: center;
}
#play-time-start {
    grid-area: pgo;
}
#play-time-pause {
    grid-area: ppause;
}

/* color:  #037BEE;
